body {
  --c-primary: #ff0000;
  --c-secondary: #24a809;
  --font-title: "boxed", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  --font-medium: 600;
}

button.comments-toggle-top {
  width: 130px;
  background-color: var(--c-secondary);
  font-family: var(--font-title);
  font-weight: var(--font-medium);
  font-size: 0.875rem;
  letter-spacing: 0.07812rem;
  align-items: center;
  text-shadow: 1px 1px 0 #00000077;
}

.comments-toggle-top-wrapper {
  padding: 0;
}

@media only screen and (max-width: 63.99em) {
  .comments-toggle-top-wrapper {
    max-width: var(--_1j78v4x0, min(100%, 664px));
    margin-inline-end: auto;
    margin-inline-start: auto;
  }
}

button.comments-toggle-top > img {
  vertical-align: middle;
}

/* sidebar */
#comments_wrapper.sidebar {
  --sidebar-bgcolor: #f5f5f5;
  --sidebar-padding: 17px;
  --sidebar-width: 420px;

  --docked-comments-bg-color: #f5f5f5;
  --docked-comments-padding: 17px;
  --docked-comments-width: 420px;

  background-color: var(--border-color);
  width: var(--sidebar-width);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 10000;
  max-width: none;
  min-width: none;
  overflow: hidden;
  box-shadow: 0px 0px 16px #0000009f;
  display: flex;
}

#comments_wrapper.sidebar .comments-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 1;
}

#comments_wrapper .comments-resizer-right,
#comments_wrapper .comments-resizer {
  display: none;
}

#comments_wrapper.sidebar .comments-resizer-right {
  --docked-comments-resizer-width: 8px;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--docked-comments-resizer-width);
  height: 100%;
  z-index: 2;
  background-image: linear-gradient(
    270deg,
    var(--border-color) 20%,
    rgba(0, 0, 0, 0) 100%
  );
  display: block;
}

#comments_wrapper.sidebar .comments-resizer {
  --docked-comments-resizer-width: 8px;
  position: absolute;
  top: 0;
  width: var(--docked-comments-resizer-width);
  height: 100%;
  cursor: ew-resize;
  pointer-events: auto;
  background: none;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  background-image: linear-gradient(
    90deg,
    var(--border-color) 20%,
    rgba(0, 0, 0, 0) 100%
  );
}

#comments_wrapper.sidebar .comments-wrapper {
  border: 0;
  flex: 1;
}

#comments_wrapper.sidebar .comments-resizer > div {
  width: 2px;
  height: 64px;
  background-color: var(--accent-color);
}

#comments_wrapper.sidebar #comments-444hsz {
  /* padding-top: 0; */
  padding-right: 4px;
  margin: 0;
  min-height: 100%;
}

#comments_wrapper.sidebar .comments-contents {
  padding: 0;
  margin: 0;
}

#comments_wrapper.sidebar .comments-wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior: contain;
}

#comments_wrapper.sidebar .comments-wrapper::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
}

#comments_wrapper.sidebar .comments-wrapper::-webkit-scrollbar-track {
  background-color: var(--comments-bgcolor);
}

#comments_wrapper.sidebar .comments-wrapper::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: var(--accent-color);
  border-left: 4px solid var(--comments-bgcolor);
  border-right: 9px solid var(--comments-bgcolor);
  border-top: 6px solid var(--comments-bgcolor);
  border-bottom: 6px solid var(--comments-bgcolor);
}

/* tabs */

div#comments_tabs {
  display: flex;
  flex-direction: column;
  background-color: var(--border-color);
  position: relative;
}

div#comments_tabs .toolbar {
  display: flex;
}

div#comments_tabs .toolbar-spacer {
  flex: 1 1 auto;
  border-bottom: var(--border-width) solid var(--border-color);
}

div#comments_tabs .toolbar button.tab {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  color: #fff;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  font-family: var(--font-title);
  font-weight: var(--font-medium);
  font-size: 0.875rem;
  letter-spacing: 0.07812rem;
  align-items: center;
  text-shadow: 1px 1px 0 #00000077;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  transition: background-color 0.1s linear;
}

div#comments_tabs .toolbar button.tab.selected {
  background-color: #f8f8f8;
}

div#comments_wrapper div#comments_tabs .toolbar div.tab-1,
div#comments_wrapper div#comments_tabs .toolbar div.tab-2 {
  height: 36px;
  display: flex;
  width: 100px;
  justify-content: center;
}

div#comments_wrapper div#comments_tabs .toolbar .selected {
  padding-bottom: var(--border-width);
}

div#comments_wrapper div#comments_tabs .toolbar div.tab-1 div.borderline {
  min-width: var(--border-width);
}

div#comments_wrapper.official-forum div#comments_tabs .toolbar .tab-2 {
  padding: 0 var(--border-width) var(--border-width);
}

div#comments_wrapper.user-forum div#comments_tabs .toolbar .tab-1 button:hover,
div#comments_wrapper.official-forum
  div#comments_tabs
  .toolbar
  .tab-2
  button:hover {
  background-color: #f8f8f880;
}

div#comments_wrapper.user-forum div#comments_tabs .toolbar div.tab-1 {
  border-bottom: var(--border-width) solid var(--border-secondary-color);
}

div#comments_wrapper.user-forum div#comments_tabs .toolbar div.tab-2 {
  border: var(--border-width) solid var(--border-secondary-color);
  border-bottom: none;
}

div#comments_wrapper div#comments_tabs .toolbar div.tab-1 img,
div#comments_wrapper div#comments_tabs .toolbar div.tab-2 img {
  margin-top: calc(var(--border-width) * 2);
}

div#comments_wrapper.user-forum div#comments_tabs .toolbar div.tab-2 img {
  margin-top: var(--border-width);
}

div#comments_wrapper.user-forum div.comments-wrapper,
div#comments_wrapper.user-forum div#comments_tabs .toolbar-spacer {
  border-color: var(--border-secondary-color);
}

img.invert {
  filter: invert();
  height: 20px !important;
  margin: 2px 0;
}

/* title bar */

div#comments_tabs .titlebar {
  display: flex;
  height: 42px;
  align-items: center;
  color: #000000;
}

div#comments_tabs .titlebar .spacer {
  flex: 1 1 auto;
}

div#comments_tabs .titlebar button {
  width: 38px;
  height: 38px;
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  color: #fff;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  letter-spacing: 0.07812rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--border-width) var(--border-width) var(--border-width) 0;
  transition: background-color 0.1s linear;
}

@media screen and (max-width: 768px) {
  div#comments_tabs .titlebar button.button-sidebar {
    display: none;
  }
}

div#comments_tabs .titlebar button.active {
  background-color: var(--settings-bgcolor);
}

div#comments_tabs .titlebar button.button-settings.active {
  padding-bottom: var(--border-width);
  margin-bottom: 0;
  height: 40px;
}

div#comments_tabs .titlebar button img {
  opacity: 0.67;
  transition: opacity 0.1s linear;
}

div#comments_tabs .titlebar button.active img {
  opacity: 1;
}

@media (hover: hover) {
  div#comments_tabs .titlebar button:hover {
    background-color: #f8f8f880;
  }
  div#comments_tabs .titlebar button:hover img {
    opacity: 1;
  }
}

div#comments_tabs .titlebar span.title {
  font-family: var(--font-title);
  font-weight: var(--font-medium);
  text-transform: none;
  font-size: 18px;
  margin: 2px 0 0 12px;
}

div#comments_tabs button.tab img {
  color: #000000;
  height: 24px;
  opacity: 0.87;
}

div#comments_tabs button.tab.selected img {
  opacity: 1;
}

/* comments section */

div#comments_wrapper {
  display: block;
  padding: 0;
  margin: 16px auto 0 auto;
  background: none;
  /* transition: 0.2s linear; */
  font-family: "boxed", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  user-select: none;
  -webkit-user-drag: none;

  --border-width: 2px;
  --border-color: #dedede;
  --border-secondary-color: #29af0a;
  /* --border-secondary-color: #dedede; */
  --settings-bgcolor: #eee;
  --comments-bgcolor: #f8f8f8;
  --accent-color: #bebebe;
}

section#comments-444hsz.comments-contents > div {
  margin: 0;
}

div.comments-wrapper {
  border: var(--border-width) solid var(--border-color);
  border-top: none;
  border-radius: inherit;
  margin-bottom: 16px;
}

section#comments-444hsz {
  padding: 16px 16px 0;
  background-color: #f8f8f8;
  transition: border 0.2s;
  border-radius: inherit;
  min-height: 60px;
  /* border-radius: 8px 8px 0 0; */
  /* border-radius: 0 0 6px 6px; */
  /* box-shadow: 8px 8px rgba(0, 0, 0, 0.75); */
  /* -webkit-transition: .4s; */
  /* -o-transition: .4s; */
}

section#comments.docked-comments {
  padding: 0;
  border-radius: 0px;
  border: none;
}

section#comments-444hsz.comments-docked-open {
  display: inline-flex;
}

section#comments-444hsz.comments-docked-open button {
  border-left: 1px solid #fff;
  background-color: var(--c-secondary);
  font-family: var(--font-title);
  font-weight: var(--font-medium);
  height: 23px;
  padding: 0 15px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

@media (hover: hover) {
  section#comments-444hsz.comments-docked-open button:hover {
    background-color: #6ac540;
  }
}

svg.flipped {
  transform: scale(-1, 1);
  transform-origin: center;
}

section#comments-444hsz.comments-docked-open button svg {
  margin-top: -1px;
  fill: #fff;
  vertical-align: middle;
}

section#comments-444hsz.subhead {
  font-family: var(--font-title);
  font-weight: var(--font-medium);
  font-size: 0.875rem;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 0.85em;
  margin-bottom: 0.9375rem;
  text-transform: uppercase;
  line-height: 1;
  white-space: nowrap;
  color: #080808;
  color: var(--subhead-color);
  font-size: 1.625rem;
  align-items: center;
}

.comments-toggle {
  width: 100%;
  border: 0;
  padding: 0.3125rem;
  background-color: var(--c-secondary);
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;

  font-family: var(--font-title);
  font-weight: var(--font-medium);
  font-size: 0.875rem;
  letter-spacing: 0.07812rem;
  align-items: center;
  height: 36px;
  text-shadow: 1px 1px 0 #00000077;
  text-align: center;

  margin-bottom: 16px;
}

.hide {
  display: none !important;
  height: 0px;
}

.collapse {
  max-height: 0px !important;
}

#disqus_thread {
  font-family: "boxed", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

#disqus_thread a {
  color: var(--c-secondary);
}

/* forum rules */

section#comments-444hsz .forum-rules ul .title {
  border-bottom: 1px solid var(--c-secondary);
  margin-bottom: 20px;
  padding-bottom: 8px;
  margin-top: 0px;
  font-size: 18px;
  font-weight: bold;
}

section#comments-444hsz .forum-rules ul .important {
  font-weight: bold;
}

section#comments-444hsz .forum-rules ul .green {
  color: #24a809;
}

section#comments-444hsz .forum-rules ul p {
  margin-bottom: 10px;
}

section#comments-444hsz .forum-rules ul .title img {
  height: 33px;
  vertical-align: middle;
  margin-top: -10px;
  margin-left: -8px;
}

section#comments-444hsz .forum-rules ul a {
  color: var(--c-secondary);
}

section#comments-444hsz .forum-rules ul {
  list-style: square;
  list-style-position: outside;
  background-color: #ebeef2;
  padding: 20px 20px 20px;
  border-radius: 4px;
  color: #000;
  background-position: 10px 10px;
  margin-bottom: 32px;
}

section#comments-444hsz .forum-rules ul li {
  margin-bottom: 10px;
  margin-left: 20px;
}

section#comments-444hsz .forum-rules ul li:last-child {
  margin-bottom: 0px;
}

section#comments-444hsz .forum-rules ul li::marker {
  color: var(--c-secondary);
}

div.close-button {
  float: right;
  margin: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

div.close-button svg {
  fill: #666;
}

div.text-close-button {
  text-align: center;
  margin-bottom: 16px;
}

div.text-close-button button {
  box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 0 0 rgb(0 0 0 / 14%),
    0 0 0 0 rgb(0 0 0 / 12%);
  background-color: #000;
  color: #fff;
  height: 36px;
  min-width: 64px;
  border: 0;
  text-overflow: ellipsis;
  letter-spacing: 0.07812rem;
  padding: 6px 16px 4px;
  font-family: var(--font-title);
  font-weight: var(--font-medium);
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
  background-color: #000;
  font-size: 0.875rem;
  text-shadow: rgba(0, 0, 0, 0.467) 1px 1px 0px;
  background-color: var(--c-secondary);
  border-radius: 0px;
  margin-top: 30px;
}

/* checkbox slider */
.slider-switch {
  display: inline-block;
  height: 23px;
  position: relative;
  width: auto;
  font-family: var(--font-title);
  line-height: 22px;
  padding: 0px 50px 0px 0px;
  vertical-align: top;
}

.slider {
  width: 35px;
  height: 19px;
  border: 2px solid var(--accent-color);
  background-color: var(--settings-bgcolor);
  bottom: 0;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 2px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.slider.round {
  border-radius: 8.5px;
}

.slider-switch input {
  display: none;
}

.slider-switch input:checked + .slider {
  background-color: var(--settings-bgcolor);
}

.slider-switch input:checked + .slider:before {
  -webkit-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem);
  background-color: var(--c-secondary);
}

.slider.round:before {
  border-radius: 50%;
}

.slider:before {
  background-color: var(--accent-color);
  bottom: 2px;
  content: "";
  left: 2px;
  position: absolute;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  height: 11px;
  width: 11px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

/* settings  */
.comments-settings {
  padding: 0;
  color: #000;
  font-size: 13px;
  font-family: var(--font-title);
  line-height: 22px;
  background-position: 10px 10px;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  max-height: 170px;
  padding: 0 var(--border-width);
}

.comments-settings .ext-wrapper {
  /* width: 260px; */
  position: relative;
  overflow: hidden;
  /* border-left: var(--border-width) solid var(--border-secondary-color); */
  /* background-color: #f8f8f880; */
  background-color: var(--settings-bgcolor);
  flex: 1;
  margin-bottom: var(--border-width);
}

.comments-settings .wrapper {
  padding: 12px;
}

.comments-settings .wrapper div {
  padding: 2px 0px;
  margin-right: 35px;
}

.comments-settings .wrapper div:last-child {
  border: 0;
  padding-bottom: 0;
  margin-right: 0;
}

.comments-settings .title {
  font-weight: var(--font-medium);
  font-size: 0.875rem;
  line-height: 40px;
  padding-left: 12px;
  /* text-shadow: 1px 1px 0 #00000077; */
}

.comments-settings .close-button svg {
  fill: #fff;
}

.comments-settings label {
  width: 100%;
  text-align: right;
}

.comments-settings p.notice {
  letter-spacing: normal;
  line-height: normal;
  margin: 5px 0 0;
  font-style: italic;
  background-color: #6ac540;
  padding: 6px;
  border-radius: 5px;
}

.comments-settings label[for="userForumShortName"] {
  display: block;
}

.comments-settings label[for="userForumShortName"] span {
  margin-left: 16px;
  float: right;
}

.comments-settings input#userForumShortName {
  width: 70px;
  border-color: var(--accent-color);
  border-style: solid;
  padding: 0px 4px;
}

.comments-settings ul {
  margin: 0;
  list-style-type: square;
  color: #6ac540;
}

.comments-settings .wrapper .version {
  margin-right: 32px;
  text-align: right;
}

.comments-settings .wrapper .version span {
  margin-left: 16px;
  float: right;
}

/* toolbar toggle */

label[for="forumToggle"] {
  padding-left: 10px;
  line-height: 26px;
  height: 23px;
  font-size: 11px;
  cursor: pointer;
  border-left: 1px solid #fff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

label[for="forumToggle"].official {
  background-color: #080808;
  color: #fff;
}

.comments-docked-open .slider:before {
  background-color: #080808;
}

@media (hover: hover) {
  label[for="forumToggle"]:hover {
    background-color: #6ac540;
  }
  label[for="forumToggle"].official:hover {
    background-color: #666;
  }
}

label[for="forumToggle"] .slider {
  right: 10px;
}

.comments-docked-open > .slider-switch-wrapper {
  text-shadow: 1px 1px 0 #00000077;
}
