button.comments-toggle-top {
    width: 130px;
    background-color: var(--c-secondary);
    margin-right: 10px;
    font-family: var(--font-title);
    font-weight: var(--font-medium);
    font-size: .875rem;
    letter-spacing: .07812rem;
    align-items: center;
}

button.comments-toggle-top > img {
    vertical-align: middle;
}

section#comments .comments-docked-open>button {
    background-color: var(--c-secondary);
    font-family: var(--font-title);
    font-weight: var(--font-medium);
}

section#comments .subhead {
    font-family: var(--font-title);
    font-weight: var(--font-medium);
    font-size: .875rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: .85em;
    margin-bottom: .9375rem;
    text-transform: uppercase;
    line-height: 1;
    white-space: nowrap;
    color: #080808;
    color: var(--subhead-color);
    font-size: 1.625rem;
    align-items: center;
}

section#comments.docked-comments .subhead .logo {
    height: 33px;
}

.comments-toggle {
    width: 100%;
    border: 0;
    padding: .3125rem;
    background-color: var(--c-secondary);
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;

    font-family: var(--font-title);
    font-weight: var(--font-medium);
    font-size: .875rem;
    letter-spacing: .07812rem;
    align-items: center;
    height: 36px;
}

.hide {
    display: none;
}

section#comments .comments-contents {
    color: #222;
    cursor: auto;
    font-family: "boxed","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
}

section#comments .comments-title {
    font-family: "League Gothic";
    font-weight: normal;
    font-size: 25px;
    line-height: 23px;
    padding-top: 4px;
    background: #fff;
}

section#comments.docked-comments .comments-docked-title {
    font-size: 16px;
    margin-top: -2px;
}


#disqus_thread {
    font-family: "boxed","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

#disqus_thread a {
    color: var(--c-secondary);
}

section#comments.docked-comments {
    background-color: var(--c-secondary);
}

section#comments .comments-docked-toggle {
    background-color: var(--c-primary);
    font-family: 'League Gothic';
}

section#comments.docked-comments .comments-contents {
    scrollbar-color: var(--c-secondary) var(--docked-comments-bg-color);
}

section#comments.docked-comments .comments-contents::-webkit-scrollbar-thumb {
    background-color: var(--c-secondary);
    border: 6px solid var(--docked-comments-bg-color);
    border-radius: 10px;
}

/* forum rules */
section#comments .comments-contents ul.forum-rules a {
    color: var(--c-secondary);
}

section#comments .comments-contents ul.forum-rules {
    list-style: square;
    list-style-position: inside;
    padding: 0;
}

section#comments .comments-contents ul.forum-rules li {
    margin-bottom: 10px;
}


/* checkbox slider */
input#forumToggle:checked+.slider:before {
    background-color: var(--c-secondary);
}

.slider-switch {
    font-size: 11px;
    font-family: var(--font-title);
    font-weight: var(--font-medium);
    background-color: var(--c-secondary);
}
