button.comments-toggle-top {
    width: 130px;
    background-color: var(--c-secondary);
    margin-right: 10px;
    font-family: var(--font-title);
    font-weight: var(--font-medium);
    font-size: .875rem;
    letter-spacing: .07812rem;
    align-items: center;
}

button.comments-toggle-top > img {
    vertical-align: middle;
}

section#comments .comments-docked-open {
    display: inline-flex;
}

section#comments .comments-docked-open button {
    border-left: 1px solid #fff;
    background-color: var(--c-secondary);
    font-family: var(--font-title);
    font-weight: var(--font-medium);
    height: 23px;
    padding: 0 15px;
}

section#comments .comments-docked-open button:hover {
    background-color: #6ac540;
}

svg.flipped {
    transform: scale(-1, 1);
    transform-origin: center;
}

section#comments .comments-docked-open button svg {
    margin-top: -1px;
    fill: #fff;
    vertical-align: middle;
}

section#comments .subhead {
    font-family: var(--font-title);
    font-weight: var(--font-medium);
    font-size: .875rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: .85em;
    margin-bottom: .9375rem;
    text-transform: uppercase;
    line-height: 1;
    white-space: nowrap;
    color: #080808;
    color: var(--subhead-color);
    font-size: 1.625rem;
    align-items: center;
}

section#comments.docked-comments .subhead .logo {
    height: 33px;
}

.comments-toggle {
    width: 100%;
    border: 0;
    padding: .3125rem;
    background-color: var(--c-secondary);
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;

    font-family: var(--font-title);
    font-weight: var(--font-medium);
    font-size: .875rem;
    letter-spacing: .07812rem;
    align-items: center;
    height: 36px;
}

.hide {
    display: none;
}

section#comments .comments-contents {
    color: #222;
    cursor: auto;
    font-family: "boxed","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
}

section#comments .comments-title {
    font-family: "League Gothic";
    font-weight: normal;
    font-size: 25px;
    line-height: 23px;
    padding-top: 4px;
    background: #fff;
}

section#comments.docked-comments .comments-docked-title {
    font-size: 16px;
    margin-top: -2px;
}


#disqus_thread {
    font-family: "boxed","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

#disqus_thread a {
    color: var(--c-secondary);
}

section#comments.docked-comments {
    background-color: var(--c-secondary);
}

section#comments .comments-docked-toggle {
    background-color: var(--c-primary);
    font-family: 'League Gothic';
}

section#comments.docked-comments .comments-contents {
    scrollbar-color: var(--c-secondary) var(--docked-comments-bg-color);
}

section#comments.docked-comments .comments-contents::-webkit-scrollbar-thumb {
    background-color: var(--c-secondary);
    border: 6px solid var(--docked-comments-bg-color);
    border-radius: 10px;
}

/* forum rules */
section#comments .comments-contents .forum-rules ul a {
    color: var(--c-secondary);
}

section#comments .comments-contents .forum-rules ul {
    list-style: square;
    list-style-position: inside;
    background-color: #eee;
    padding: 20px 20px;
    border-radius: 10px;
    color: #000;
}

section#comments .comments-contents .forum-rules ul li {
    margin-bottom: 10px;
}

section#comments .comments-contents .forum-rules ul li:last-child {
    margin-bottom: 0px;
}

section#comments .comments-contents .forum-rules ul li::marker {
    color: var(--c-secondary);
}

div.close-button {
    float: right;
    margin: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

div.close-button svg {
    fill: #666;
}

/* checkbox slider */
.slider-switch-wrapper {
    border-bottom: 1px solid #6ac540;
    padding: 5px 0px;
}

.slider-switch-wrapper:last-child {
    border: 0;
    padding-bottom: 0;
}

.slider-switch-wrapper p {
    letter-spacing: normal;
    line-height: normal;
    margin: 5px 0 0;
    font-style: italic;
    background-color: #6ac540;
    padding: 6px;
    border-radius: 5px;
}

.slider-switch {
    display: inline-block;
    height: 23px;
    position: relative;
    width: auto;
    font-family: var(--font-title);
    background-color: var(--c-secondary);
    line-height: 22px;
    padding: 0px 50px 0px 0px;
    vertical-align: top;
    /* font-weight: var(--font-medium); */
    /* cursor: pointer; */
    /* font-size: 11px; */
}

/* .slider-switch:hover {
    background-color: #6ac540;
} */

.slider {
    width: 31px;
    height: 15px;
    background-color: #eee;
    bottom: 0;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 4px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.slider.round {
    border-radius: 8.5px;
}

.slider-switch input {
    display: none;
}

.slider-switch input:checked+.slider {
    background-color: #fff;
}

.slider-switch input:checked+.slider:before {
    -webkit-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    transform: translateX(1rem);
    background-color: var(--c-secondary);
}

.slider.round:before {
    border-radius: 50%;
}
.slider:before {
    background-color: #8cd07c;
    bottom: 2px;
    content: "";
    left: 2px;
    position: absolute;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    height: 11px;
    width: 11px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

/* settings  */
.comments-settings {
    background-color: #8cd07c;
    padding: 0;
    border-radius: 10px;
    color: #fff;
    font-size: 13px;
    font-family: var(--font-title);
    line-height: 22px;
    background-position: 10px 10px;
    background-color: #eee;
}

.comments-settings .ext-wrapper {
    margin: 0 0 0.9375rem auto;
    width: 328px;
    background-color: var(--c-secondary);
    border-radius: 10px;
    position: relative;
}

.comments-settings .wrapper {
    padding: 0 20px 20px 20px;
}

.comments-settings .title {
    font-weight: var(--font-medium);
    font-size: 0.875rem;
    line-height: 40px;
    padding-left: 15px;
}

.comments-settings .close-button svg {
    fill: #fff;
}

.comments-settings label {
    width: 100%;
    text-align: left;
}

